body {
    background-color: var(--light-light-grey);
}

#about-section {
    position: relative;
    top: 8vh;
    background-color: var(--white);
    width: 60%;
    min-width: 360px;
    margin: auto;
    padding-top: 15vh;
    padding-bottom: 15vh;
    
}
#about-section article {
    margin: 5vh 15%;
}

#about-section h1, #about-section h2, 
#about-section h3, #about-section h4, 
#about-section h5, #about-section h6, 
#about-section p {
    color: var(--offblack);
}  