body {
    background-color: #f2f1f1;
    background-image:url('../img/background_pattern.png');
    background-repeat: repeat;
}


#about-section {
    position: relative;
    top: 10vh;
    background-color: var(--white);
    width: 80%;
    max-width: 1280px;
    min-width: 480px;
    margin: auto;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

@media only screen and (max-width: 480px) {
    #about-section {
        width: 100%;
        min-width: unset;
    }
}

#about-section article {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 300px;
}

#about-section h1, #about-section h2, 
#about-section h3, #about-section h4, 
#about-section h5, #about-section h6, 
#about-section p {
    color: var(--offblack);
} 

#resume-link-container p {
    margin-bottom: 0;
}