@-webkit-keyframes gradientChange {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes gradientChange {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-o-keyframes gradientChange {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes gradientChange {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

.warm-hover-gradient:hover {
    background: -webkit-linear-gradient( #e2f209, #e8820c, #ec13da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-size: 600% 600%;
    -webkit-animation: gradientChange 12s ease infinite;
    -moz-animation: gradientChange 12s ease infinite;
    -o-animation: gradientChange 12s ease infinite;
    animation: gradientChange 12s ease infinite;
    display: block;
}

.cool-hover-gradient:hover {
    
    background: -webkit-linear-gradient(#5df209, #0ce6e8, #1364ec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-size: 600% 600%;
    -webkit-animation: gradientChange 12s ease infinite;
    -moz-animation: gradientChange 12s ease infinite;
    -o-animation: gradientChange 12s ease infinite;
    animation: gradientChange 12s ease infinite;
    display: block;
}


