/* HAMBURGER ICON */

#hamburger-icon {
    position: relative;
    vertical-align: middle;
    width: 36px;
    height: 26px;
    padding: 0;
}

#hamburger-icon span {
    height: 2px;
    width: 36px;
    background: var(--grey);
    display: block;
    position: absolute;
    transition: all ease-out 0.2s;
    transition-property: width, background-color, transform, box-shadow;
    cursor: pointer;
    border-radius: 2px;
}

#hamburger-icon span.bar1 {
    top: 0px;
}

#hamburger-icon span.bar2 {
    top: 12px;
}

#hamburger-icon span.bar3 {
    bottom: 0; 
}

#hamburger-icon:hover > span {
    background-color: var(--light-grey);
}

#hamburger-icon:hover > span.bar3{
    width: 18px;
}

#hamburger-icon:hover > span.bar2 {
    width: 27px;
}

#hamburger-icon:hover {
    cursor: pointer;
}

.hamburger-button-active span.bar1 {
    transform: rotate(-48deg) translate(-9px, 8px);
}
  
.hamburger-button-active span.bar2 {
    width: 0px !important;
}

.hamburger-button-active span.bar3 {
    transform: rotate(48deg) translate(-9px, -8px);
}

#hamburger-icon.hamburger-button-active:hover > span.bar1, #hamburger-icon.hamburger-button-active:hover > span.bar3 {
    width: 36px !important;
}

#hamburger-icon.hamburger-button-active:hover > span.bar2 {
    width: 0 !important;
}

/* HAMBURGER MENU */

#hamburger-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--offblack);
    opacity: 0;

    transition: opacity ease-out 0.2s;
    z-index: -1;
    pointer-events: none;
}

#hamburger-menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

#hamburger-menu.menu-active {
    opacity: .98;
    pointer-events: all;
}

.hamburger-column {
    margin: 10vh 5% 2vh 5%;
    position: relative;
    display: inline-block;
}

.hamburger-column-header h4 {
    margin-bottom: 2vh;
}

.hamburger-column-header span {
    width: 20px;
    height: 2px;
    transform: translateY(-50%);
    left: 0;
    background-color: var(--white);
}

.hamburger-link a {
    color: var(--grey);
}

.hamburger-link {
    margin-bottom: 1vh;
}

.hamburger-link:hover:after {
    width: 20%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    left: 12em;
    background-color: var(--white);
}