/* HERO SECTION */
:root {
    --superheader-font-size: 26vmin;
    --superheader-line-height: .8; 
    --scroll-indicator-line-height: 30vh;
    --scroll-indicator-light-height: 3vh;
}

#hero {
    background-color: var(--dark-grey);
}

#hero-superheader {
    width: 2em;
    display: inline-block;
    height: 100vh;
    position: relative;
    z-index: 0;
    bottom: 2%;
    font-family: Urbanist, Arial, Helvetica, sans-serif;
    color: var(--grey);
    font-size: var(--superheader-font-size);
    font-weight: 700;
    font-style: normal;
}

.horizontal-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: left;
    line-height: calc(var(--superheader-line-height) * 1em);
}

#hero-superheader span {
    user-select: none;
    transition: color ease-in-out 0.2s;
    width: calc(var(--superheader-line-height) * var(--superheader-font-size));
}

#hero-superheader span:hover {
    cursor: default;
    color: var(--white);
}


#hero-subheader {
    width: calc(80% - (var(--superheader-line-height) * 2 * var(--superheader-font-size))); 
    float: right;
    position: relative;
    top: 50%;
    right: calc((100% - (var(--superheader-line-height) * 2 * var(--superheader-font-size))) / 2); 
    transform: translate(50%, -50%);
    text-align: center;

}

#hero-subheader h6 {
    color: var(--grey);
}

#hero-subheader h3 {
    color: var(--white);
}

#scroll-indicator {
    position: absolute;
    width: 36px; 
    height: 15vh;
    bottom: 0%;
    right: 2%;
    
}

@media only screen and (max-width: 767px) {

    #hero-superheader {
        height: 150vh;
        bottom: 52%;
        width: 1em;
        font-size: 12.5vh;
    }

    #hero-subheader {
        width: 50%;
        right: 50%;
        transform: translate(60%, -50%);
    }

    #scroll-indicator {
        width: 50%;
        right: 50%;
        transform: translate(60%);
    }

    :root {
        --scroll-indicator-line-height: 20vh;
        --scroll-indicator-light-height: 2vh;
    }

}

#scroll-indicator .scroll-bar {
    position: absolute;
    left: 50%;
    width: 2px;
    height: var(--scroll-indicator-line-height);
    bottom: 0;
    background-color: var(--grey);
}

@keyframes scroll-light-slide-down {
    0%   {bottom: calc(var(--scroll-indicator-line-height) - var(--scroll-indicator-light-height)); height: var(--scroll-indicator-light-height);}
    90% {bottom: 0; height: var(--scroll-indicator-light-height);}
    100% {bottom: 0; height: 0px;}
}


#scroll-indicator .scroll-light {
    position: absolute;
    left: 50%;
    width: 2px;
    height: var(--scroll-indicator-light-height);
    animation: scroll-light-slide-down 3s linear 0s infinite normal none;
    background-color: var(--white);
}



/* PORTFOLIO */

#portfolio {
    background-color: var(--offblack); 
}

#portfolio-container {
    margin: 15vh 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#portfolio-header {
    margin: 15vh 5%;
    position: relative;
    margin-bottom: 10vh;
}

#portfolio-header span {
    position: absolute;
    width: 20%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    left: 14em;
    
    background-color: var(--white);
}


.portfolio-slide {
    width: 100%;
}

.portfolio-slide .portfolio-slide-main-content {
    width: 60%;
    float: left;
}

.portfolio-slide .portfolio-slide-aside {
    width: 40%;
    float: right;
    text-align: right;
}

.portfolio-slide .portfolio-slide-img-container {
    margin: 0 auto;
    width: 80vw;
    object-fit: cover;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}

.portfolio-slide h2, .portfolio-slide img {
    transition: all ease .8s;
    cursor: pointer;
}

.portfolio-slide img {
    display: block;
    width: 100%;
    
    transform-origin: 50% 50%;
    transition-property: opacity, transform;
}

.portfolio-slide:hover img {
    transform: scale(1.1);
    opacity: 80%;
}


#nvidia-slide:hover h2 {
    color: #76b900;
}