/* HERO SECTION */
:root {
    --superheader-font-size: 30vmin;
    --superheader-line-height: .8; 
    --scroll-indicator-line-height: 30vh;
    --scroll-indicator-light-height: 3vh;
}

#hero {
    background-color: var(--dark-grey);
}

#hero-superheader {
    width: 2em;
    display: inline-block;
    height: 100vh;

    position: relative;
    float: inline-start;
    z-index: 0;
    bottom: 0%;
    font-family: Urbanist, Arial, Helvetica, sans-serif;
    color: var(--grey);
    font-size: var(--superheader-font-size);
    font-weight: 700;
    font-style: normal;
}

.horizontal-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: left;
    line-height: calc(var(--superheader-line-height) * 1em);
}

#hero-superheader span {
    user-select: none;
    transition: color ease-in-out 0.2s;
}

#hero-superheader span:hover {
    cursor: default;
    color: var(--white);
}



#hero-subheader {
    width: calc(80% - (var(--superheader-line-height) * 2 * var(--superheader-font-size))); 
    float: right;
    position: relative;
    top: 50%;
    right: calc((100% - (var(--superheader-line-height) * 2 * var(--superheader-font-size))) / 2); 
    transform: translate(50%, -50%);
    text-align: center;

}

#hero-subheader h6 {
    color: var(--grey);
}

#hero-subheader h3 {
    color: var(--white);
    margin-bottom: 3vh;
}



#scroll-bar-container {
    position: absolute;
    width: 36px; 
    height: 15vh;
    bottom: 0%;
    right: 2%;
    
}

@media only screen and (max-width: 767px) {
    #hero-superheader {
        height: 150vh;
        bottom: 50%;
        width: 1em;
        font-size: 15vh;
    }

    #hero-superheader {
        height: 150vh;
        bottom: 50%;
        width: 1em;
        font-size: 15vh;
    }

    #hero-subheader {
        width: calc(80% - (var(--superheader-line-height) * 15vh)); 
        right: calc((100% - (var(--superheader-line-height) * 15vh)) / 2); 
    }

    #scroll-bar-container {
        width: calc(100% - (var(--superheader-line-height) * 15vh));
        right: 0;
    }

    :root {
        --scroll-indicator-line-height: 20vh;
        --scroll-indicator-light-height: 2vh;
    }

}

@media only screen and (max-width: 480px) {
    #hero-superheader {
        width: 0;
        height: 150vh;
        bottom: 0%;
        width: 1em;
        font-size: 15vh;
        position: absolute;
        opacity: 50%;
    }

    #hero-subheader {
        width: 100%;
        right: 50%;
    }

    #scroll-bar-container {
        width: 100%;
        right: 0;
    }

}

#scroll-bar-container .scroll-indicator {
    font-size: 1rem;
    width: 50%;
    text-align: center;
    bottom: 58px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: var(--grey);
}

#scroll-bar-container .scroll-bar {
    position: absolute;
    left: 50%;
    width: 2px;
    height: var(--scroll-indicator-line-height);
    bottom: 0;
    background-color: var(--grey);
}

@keyframes scroll-light-slide {
    0%   {bottom: calc(var(--scroll-indicator-line-height) - var(--scroll-indicator-light-height)); height: var(--scroll-indicator-light-height);}
    90% {bottom: 0; height: var(--scroll-indicator-light-height);}
    100% {bottom: 0; height: 0px;}
}


#scroll-bar-container .scroll-light {
    position: absolute;
    left: 50%;
    width: 2px;
    height: var(--scroll-indicator-light-height);
    animation: scroll-light-slide 3s linear 0s infinite normal none;
    background-color: var(--white);
}



/* PORTFOLIO */

#portfolio {
    background-color: var(--offblack); 
}

#portfolio-container {

}