/* HERO SECTION */
:root {
    --superheader-font-size: 26vmin;
    --superheader-line-height: .8; 
    --scroll-indicator-line-height: 40vh;
    --scroll-indicator-light-height: 4vh;
    --scroll-indicator-bottom-offset: 4vh;
}

#hero {
    height: 100vh;
    position: relative;
    /* background: var(--grey); */
}

#hero-background {
    background: var(--white);
    top: -10vh;
    height: 112vh;
    width: 100%;
    box-shadow: inset 0 -8px 4px -6px rgba(0, 0, 0, 0.5);
}

#hero-superheader {
    width: 100%;
    position: absolute;
    z-index: 1;
    object-fit: cover;
    overflow: hidden;   
}

#hero-superheader img {
    position: relative;
    height: 110vh;
    top: -2vh;
    left: -10%;
}

#hero-superheader .animated {
    animation-duration: 2.5s;
}

#hero-superheader span {
    transition: color ease-in-out 0.2s;
    width: calc(var(--superheader-line-height) * var(--superheader-font-size));
}

#hero-superheader span:hover {
    cursor: default;
}


#hero-subheader {
    z-index: 2;
    width: 50%; 
    float: right;
    position: relative;
    top: 50%;
    right: 32%; 
    transform: translate(50%, -50%);
    text-align: center;
}

#hero-subheader .animated {
    animation-duration: 1.2s;
    animation-delay: .2s;
}

#hero-subheader h4 {
    color: var(--dark-grey);
    margin-bottom: 0;
}

#hero-subheader h3 {
    color: var(--offblack);
}

#scroll-indicator {
    z-index: 2;
    position: absolute;
    width: 36px; 
    height: 15vh;
    bottom: 0vh;
    right: 2%;   
}

@media only screen and (max-width: 768px) {
    #hero-subheader {
        width: 80%;
        float: none;
    }

    #scroll-indicator {
        display: none;
    }

    :root {
        --scroll-indicator-line-height: 20vh;
        --scroll-indicator-light-height: 2vh;
    }

    .portfolio-slide-aside {
        display: none;
    }
    

}

@media only screen and (max-width: 480px) {
    #scroll-indicator {
        display: none;
    }
}

#scroll-indicator .scroll-bar {
    position: absolute;
    left: 50%;
    width: 2px;
    height: var(--scroll-indicator-line-height);
    bottom: var(--scroll-indicator-bottom-offset);
    background-color: var(--grey);
    border-radius: 2px;
}

#scroll-indicator.animated {
    animation-delay: .8s;
}

@keyframes scroll-light-slide-down {
    0%   {bottom: calc(var(--scroll-indicator-line-height) + var(--scroll-indicator-bottom-offset)); height: var(--scroll-indicator-light-height);}
    90% {bottom: var(--scroll-indicator-bottom-offset); height: var(--scroll-indicator-light-height);}
    100% {bottom: var(--scroll-indicator-bottom-offset); height: 0px;}
}


#scroll-indicator .scroll-light {
    position: absolute;
    left: 50%;
    width: 2px;
    height: var(--scroll-indicator-light-height);
    animation: scroll-light-slide-down 1.8s ease-in 0.01s infinite normal none;
    background-color: var(--white);
}


/* PORTFOLIO */

#portfolio {
    background-color: var(--offblack);     
}

#portfolio-header {
    margin: 10vh 5%;
    position: relative;
}

#portfolio-header span {
    position: absolute;
    width: 30%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    left: 11em;    
    background-color: var(--white);
    border-radius: 2px;
}

#portfolio-container {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.portfolio-slide {
    width: 100%;
    margin-bottom: 15vh;
}

#resume-slide {
    margin-bottom: 10vh;
    width: 60%;
    margin: auto;
    text-align: center;
}

.portfolio-slide .portfolio-slide-main-content {
    width: 100%;
    float: left;
}

.portfolio-slide-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.portfolio-slide .portfolio-slide-aside {
    width: 40%;
    float: right;
    text-align: right;
}

.portfolio-slide .portfolio-slide-img-container {
    margin: 0 auto;
    width: 80vw;
    object-fit: cover;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
}

.portfolio-slide h2, .portfolio-slide img {
    transition: all ease .8s;
}

.portfolio-slide h2:hover, .portfolio-slide img:hover {
    cursor: pointer;
}

.portfolio-slide img {
    display: block;
    width: 100%;
    
    transform-origin: 50% 50%;
    transition-property: opacity, transform, filter;
    
}

.portfolio-slide:hover img {
    transform: scale(1.05);
    opacity: .80;
}

.portfolio-slide-caption {
    color: var(--grey);
}

.portfolio-slide-position {
    color: var(--light-grey);
}

.portfolio-slide-bio {
    color: var(--light-grey);
}


#nvidia-slide:hover h2 {
    color: #76b900;
}

#cal-hacks-slide:hover h2 {
    color: #73C9E4;
}

#daily-cal-slide:hover h2 {
    color: #4C9AD0;
}

#machine-kerning-slide:hover h2 {
    color: #888888;
}

#resume-button-header {
    text-align: center;
}
