/* font imports */

@font-face {
    font-family: Urbanist;
    src: url('../fonts/Urbanist-Regular.woff2') format('woff2'),
         url('../fonts/Urbanist-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Urbanist;
    src: url('../fonts/Urbanist-Italic.woff2') format('woff2'),
         url('../fonts/Urbanist-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Urbanist;
    src: url('../fonts/Urbanist-Bold.woff2') format('woff2'),
         url('../fonts/Urbanist-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Urbanist;
    src: url('../fonts/Urbanist-Black.woff2') format('woff2'),
         url('../fonts/Urbanist-Black.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
    --white:#ffffff;
    --light-grey: #bababa;
    --grey:#898989;
    --dark-grey: #2d2d2d;
    --offblack:#121212;
    --crimson: #c82127;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: Urbanist, Arial, Helvetica, sans-serif;
    color: var(--white);
    margin: 0;
}

h1 {
    font-size: 4rem;
    font-weight: 300;
    font-style: normal;
}

h2 {
    font-size: 3.375rem;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-size: 2.25rem;
    font-weight: 500;
    font-style: normal;
    color: var(--light-grey);
}

h4 {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    color: var(--light-grey);
}


h5 {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: normal;
}

h6 {
    font-size: 1.3125rem;
    font-weight: 500;
    font-style: normal;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--crimson);
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    height: 100vh;
}


/* MENU BUTTON STYLING */

.fixed {
    position: fixed; 
    top: 0px; 
}

nav {
    width: 100%;
    z-index: 5;
}

.button {
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    display: inline-block;
}

.button-primary {
    background-color: var(--white);
    border: 4px solid var(--white);
    box-sizing: border-box;

    transition: ease-out 0.25s;
    color: var(--offblack);
}

.button-secondary {
    border: 4px solid var(--white);
    box-sizing: border-box;
    
    box-shadow: inset 0 0 0 0 var(--white);
    transition: ease-out 0.25s;
}

.button-secondary:hover {
    color: var(--offblack);
    box-shadow: inset 400px 0 0 0 var(--white);
    padding: 1.2vh 1.2vw;
    margin: .8vh .8vw;
}

.button-secondary:active {
    padding: .8vh .8vw;
    margin: 1.2vh 1.2vw;
}

.drop-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-secondary.drop-shadow {
    box-shadow: inset 0 0 0 0 var(--white), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-secondary.drop-shadow:hover {
    box-shadow: inset 400px 0 0 0 var(--white), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-button {
    float: right;
}


#hamburger-icon {
    position: relative;
    display: inline;
    vertical-align: middle;
    width: 36px;
    height: 26px;

    
}

#hamburger-icon span, #hamburger-icon span:before, #hamburger-icon span:after {
    height: 2px;
    width: 36px;
    background: var(--light-grey);
    display: block;
    content: '';
    position: absolute;
    transition: ease-out 0.2s;
}

#hamburger-icon span {
    top: 23px;
}

#hamburger-icon span:before {
    top: -10px;
}

#hamburger-icon span:after {
    bottom: -10px; 
}

#hamburger-icon:hover > span:before, #hamburger-icon:hover > span, #hamburger-icon:hover > span:after {
    background: var(--white);
}

#hamburger-icon:hover > span:after{
    width: 18px;
}

#hamburger-icon:hover > span {
    width: 27px;
}

#hamburger-icon:hover {
    cursor: pointer;
}

.nav-logo {
    background-color: var(--offblack);
    float: left;
}







