/* font imports */

@font-face {
    font-family: Urbanist;
    src: url('../fonts/Urbanist-Regular.woff2') format('woff2'),
         url('../fonts/Urbanist-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Urbanist;
    src: url('../fonts/Urbanist-Italic.woff2') format('woff2'),
         url('../fonts/Urbanist-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Urbanist;
    src: url('../fonts/Urbanist-Bold.woff2') format('woff2'),
         url('../fonts/Urbanist-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Urbanist;
    src: url('../fonts/Urbanist-Black.woff2') format('woff2'),
         url('../fonts/Urbanist-Black.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
    --white:#ffffff;
    --light-grey: #bababa;
    --grey:#898989;
    --dark-grey: #2d2d2d;
    --offblack:#121212;
    --crimson: #c82127;
}



h1, h2, h3, h4, h5, h6, p, a {
    font-family: Urbanist, Arial, Helvetica, sans-serif;
    color: var(--white);
    margin: 0;
}

h1 {
    /* color: var(--light-grey); */
}

h1, h1 a {
    font-size: 4rem;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 1vh;
}

h1 a {
    color: var(--white);
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    text-decoration: underline;
    color: var(--white);
    cursor: pointer;
}

h2 {
    font-size: 3.375rem;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 0vh;
    line-height: 1em;
}

h3 {
    font-size: 2.25rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 2vh;
}


h4 {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
}


h5 {
    font-size: 1.3125rem;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 1.5vh;
}

h6 {
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    margin: 2vh 0 4vh 0;
}

a {
    /* font-size: 1rem; */
    text-decoration: none;
}

body {
    background-color: var(--offblack);
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
}


/* MENU BUTTON STYLING */

.fixed {
    position: fixed; 
    top: 0px; 
}

nav {
    width: 100%;
    z-index: 5;
}

nav .button {
    margin: 3vh 2vw 0 2vw;
}

.button {
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    display: inline-block;
}

.button-primary {
    background-color: var(--white);
    border: 4px solid var(--white);
    box-sizing: border-box;

    transition: padding, margin ease-out 0.25s;
    color: var(--offblack);
}

.button-secondary {
    border: 4px solid var(--white);
    box-sizing: border-box;
    
    box-shadow: inset 0 0 0 0 var(--white);
    transition: all ease-out 0.25s;
    transition-property: padding, margin, box-shadow;
}

.button-secondary:hover {
    color: var(--offblack);
    box-shadow: inset 400px 0 0 0 var(--white);
    padding: 1.2vh 1.2vw;
    margin: .8vh .8vw;
}

.button-secondary:active {
    padding: .8vh .8vw;
    margin: 1.2vh 1.2vw;
}

.drop-shadow {
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.5);
}

.button-secondary.drop-shadow {
    box-shadow: inset 0 0 0 0 var(--white), 0px 4px 1px rgba(0, 0, 0, 0.5);
}

.button-secondary.drop-shadow:hover {
    box-shadow: inset 400px 0 0 0 var(--white), 0px 4px 1px rgba(0, 0, 0, 0.5);
}

.menu-button {
    float: right;
}



.nav-logo {
    background-color: var(--offblack);
    float: left;
}

footer {
    margin-top: 20vmin;
    margin-bottom: 40vmin;
}

#footer-content {
    width: 80%;
    margin: auto;
}

footer h1 {
    color: var(--light-grey);
}